<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    div class="rideuni-container">
    <link rel="stylesheet" href="buscar.css">

    <div class="top-info">
        <span>De: Universidad ABC</span>
        <span>A: Centro Ciudad</span>
        <span>Fecha: Hoy</span>

        <button class="edit-btn">EDITAR</button>
    </div>

    <div class="main-content">

   
        <div class="left-panel">
            <img src="mapa.png" alt="Mapa" class="map-img">
        </div>

        <div class="right-panel">

            <div class="search-header">
                <h3 class="hour">7:00 AM</h3>
                <h3 class="price">$45.00 MXN</h3>
            </div>

            <div class="results">

                <div class="card">
                    <div class="info">
                        <h4>Sofía AM</h4>
                        <p>Recogida en: Cafetería Central</p>
                        <p>3/4 asientos libres</p>
                    </div>
                    <button class="details-btn">Ver Detalles</button>
                </div>

                <div class="card">
                    <div class="info">
                        <h4>Sofía G</h4>
                        <p>Recogida en: Cafetería Central</p>
                        <p>3/4 asientos libres</p>
                    </div>
                    <button class="details-btn">Ver Detalles</button>
                </div>

                <div class="card">
                    <div class="info">
                        <h4>Sofía AM</h4>
                        <p>Recogida en: Puerta Principal U.</p>
                        <p>3/4 asientos libres</p>
                    </div>
                    <button class="details-btn">Ver Detalles</button>
                </div>

                <div class="card">
                    <div class="info">
                        <h4>Ikola AM</h4>
                        <p>Recogida en: Puerta Principal H.</p>
                        <p>3/4 asientos libres</p>
                    </div>
                    <button class="details-btn">Ver Detalles</button>
                </div>

            </div>
        </div>
    </div>

</div>

<footer class="footer">
    © 2024 RideUni. Todos los derechos reservados · Contacto · Términos · Redes y Condiciones · Política de Privacidad
</footer>

</body>
</html>